.sugesstions{
    margin-top: 30px;
    margin-right: 20px;
}

.sugesstions_title{
    color: grey;
    font-weight: bold;
}

.username_info{
    display: flex;
    flex-direction: column;
}

.username_left{
    display: flex;
    align-items: center;
}

.relation{
    color: grey;
    font-size: 12px;
}

.sugesstion_username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.follow_button{
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
}

.follow_button:hover{
    color: white;
    cursor: pointer;
}

.username{
    font-weight: 600;
    font-size: 14px;
}

.avatar{
    margin-right: 10px;
}